
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/UDGAM.iml
.idea/vcs.xml
.idea/workspace.xml
.DS_Store
pg-269-type-c/.DS_Store
pg-269-type-c/.DS_Store
.DS_Store
RoughWork.py
